table {
  border-collapse: separate;
  border-spacing: 0;
}
th {
  margin: 0;
  border-bottom:1px solid gray;
  white-space: nowrap;
  padding: 10px;
  font-size: 18px;
}
td {
  margin: 0;
  border-bottom:1px solid gray;
  width: 100%;
  max-width: 60px;
  padding: 10px;
}
div {
  display: flex;
  width: 800px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid gray;
} 
td:first-child, th:first-child {
  position: sticky;
  left: 0;
  font-weight: bold;
  font-size: 18px;
  background-color:#E8E8E8;
  text-align: center;
} 
